<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Commandes</title>
    <link rel="stylesheet" href="../css/formulairedeCommande.css">
</head>

<body>
    <div class="sidebar">
        <div class="profile">
            <img src="../img/chefss.jpg" alt="Profil Administrateur" height="90%" width="90%">
            <p style="font-size: 11px; text-align: center;">Nom de l'Administration</p>
        </div>
        <ul>
            <li><a href="admin.html">TABLEAU DE BORD</a></li>
            <li><a href="menu.html">MENU</a></li>
            <li><a href="CommandeADMIN.html">COMMANDE</a></li>
            <li><a href="EmployeADMIN.html">EMPLOYE</a></li>
            <li><a href="Reservation.html">RESERVATION</a></li>
            <li><a href="#">DECONNEXION</a></li>
        </ul>
    </div>

    <div class="main-content">
        <h2>AFFICHAGE DES COMMANDES</h2>
        <table>
            <thead>
                <tr>
                    <th>NUMÉRO</th>
                    <th>NOM</th>
                    <th>NOMBRE DES FOIS</th>
                    <th>PRIX</th>
                    <th>COMMANDE APPROUVÉE OU ANNULÉE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>22</td>
                    <td>BURGER</td>
                    <td>5</td>
                    <td>5000FDJ</td>
                    <td class="approved">La Commande a été approuvé </td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>BURGER</td>
                    <td>5</td>
                    <td>5000FDJ</td>
                    <td class="canceled">La Commande a été annulé </td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>Riz au poulet</td>
                    <td>5</td>
                    <td>5000FDJ</td>
                    <td class="canceled">La Commande a été annulé </td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>Tacos</td>
                    <td>5</td>
                    <td>5000FDJ</td>
                    <td class="canceled">La Commande a été approuvé </td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>BURGER</td>
                    <td>5</td>
                    <td>5000FDJ</td>
                    <td class="canceled">La Commande a été annulé </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
