/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f4f4f4;
    height: 100vh;
    overflow: hidden;
}

/* Sidebar styles */
.sidebar {
    width: 220px; /* Réduit la largeur de la sidebar */
    background-color: #715f03;
    color: white;
    height: 100vh;
    padding: 15px; /* Réduit le padding pour la sidebar */
    position: fixed; /* Sidebar reste fixe */
    top: 0;
    left: 0;
}

/* Menu de navigation */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s ease;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
}

ul li:hover {
    background-color:  #715f03;
}

/* Main content (fixé à droite) */
.main-content {
    margin-left: 240px;
    width: 100%;
    padding: 0px;
    background-color: #fff;
    height: 100vh;
    overflow: auto;
}

/* Container pour tableau de bord et graphiques */
.dashboard-container {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px  #715f03;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Tableau de bord */
.dashboard h1 {
    font-size: 10px; /* Réduit la taille du titre */
    margin-top: 5px;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
}

/* Items du tableau de bord */
.dashboard-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}

/* Style pour chaque élément du tableau de bord */
.dashboard-items .item {
    background-color: #715f03;
    padding: 15px; /* Réduit le padding des items */
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 8px  #715f03;
    height: 50px; /* Réduit encore la hauteur de chaque rectangle */
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard-items .item h2 {
    font-size: 13px; /* Réduit la taille du titre */
    margin-bottom: 5px;
    color: white;
}

.dashboard-items .item p {
    font-size: 18px; /* Réduit la taille du texte */
    font-weight: bold;
    color: white;
}

/* Graphiques */
.charts {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}

.chart-container {
    width: 48%; /* Garder les graphiques côte à côte */
    background-color: white;
    padding: 30px;
    border-radius: 0px;
    
    height: 40vh; /* Augmenter la hauteur des graphiques pour qu'ils soient bien visibles */
}

canvas {
    width: 100% !important;
    height: 100% !important;
}
