body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #8a760f;
    color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.nom-employe {
    margin: 0;
    font-size: 10px;
    font-weight: 800;
    font-family: 'Arial', sans-serif; 
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 220px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    
    padding: 10px;
    background-color: #8a760f;
    font-weight: bold;
    
    
}

a:hover {
    background-color: #8a760f;
}

.main-content {
    padding: 20px;
    flex-grow: 1;
    background-color: #fff;
}

/* Titre de la page - met le titre en haut */
.page-title {
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
    color: #8a760f;
    text-decoration: underline;
}

/* Style du tableau */
.commandes-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.commandes-table th,
.commandes-table td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #ddd;
}

.commandes-table th {
    background-color: #8a760f; /* Couleur d'en-tête */
    color: white;
    font-weight: bold;
}

.commandes-table tr:nth-child(even) {
    background-color: #f9f9f9; /* Couleur des lignes paires */
}

.commandes-table tr:nth-child(odd) {
    background-color: #ffffff; /* Couleur des lignes impaires */
}

.commandes-table tr:hover {
    background-color: #f1f1f1; /* Couleur de survol des lignes */
}

.commandes-table td a {
    color: #4CAF50;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.commandes-table td a:hover {
    text-decoration: underline;
}

/* Boutons d'approbation et d'annulation */
button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Approuver */
button.approve {
    background-color: #388E3C;
    color: white;
}

button.approve:hover {
    background-color: #2c6b32;
    transform: scale(1.05);
}

button.approve:active {
    background-color: #1b5e20;
}

/* Annuler */
button.cancel {
    background-color: #e53935;
    color: white;
}

button.cancel:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}

button.cancel:active {
    background-color: #c62828;
}

/* Effet de désactivation des boutons */
button:disabled {
    background-color: #bdbdbd;
    cursor: not-allowed;
}

/* Icônes */
button i {
    font-size: 18px;
}
