/* employe.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #554704;
    color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.nom-employe {
    margin: 0;
    font-size: 10px;
    font-weight: 800;
    font-family: 'Arial', sans-serif; 
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 220px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    
    padding: 10px;
    background-color:#554704;
    font-weight: bold;
    
    
}

a:hover {
    background-color:#554704;
}

/* Le conteneur principal pour centrer le contenu */
.main-content {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    height: 100vh; /* Utiliser toute la hauteur de la fenêtre */
}

/* Animation et style du texte */
.accueil h1 {
    font-size: 40px;  /* Taille du texte */
    text-align: center;
    color: #554704;
    font-family: 'Arial', sans-serif;  /* Police par défaut */
    white-space: nowrap;  /* Empêcher le texte de se diviser sur plusieurs lignes */
    overflow: hidden; /* Cacher le texte en dehors de l'élément */
    display: inline-block; /* Permet au texte d'être en ligne */
    animation: typing 4s steps(50) 1s 1 normal both; /* Animation */
}

/* Définir l'animation d'écriture du texte */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
